// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/btn";
@import "./components/border-block";
@import "./components/nav";
@import "./components/logo";
@import "./components/hero";
@import "./components/ticker";
@import "./components/products";
@import "./components/card";
@import "./components/story";
@import "./components/ticker-bottom";
@import "./components/banner";
@import "./components/footer";
