// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/btn";
@import "./components/header";
@import "./components/hero";
@import "./components/steps";
@import "./components/approach";
@import "./components/info";
@import "./components/partners";
@import "./components/information";
@import "./components/press";
@import "./components/where";
@import "./components/footer";
