.hero {
  &__top {
    margin-bottom: var(--lg);
  }

  &__title {
    grid-column: 6 span;
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: var(--dark);

    @include tablet {
      font-size: 48px;
    }

    @include small-tablet {
      grid-column: 4 span;
      font-size: 40px;
    }
  }

  &__descr {
    grid-column: 4 span;
    margin: 0;
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark);

    @include tablet {
      grid-column: 6 span;
      padding-top: 16px;
    }

    @include small-tablet {
      grid-column: 4 span;
    }
  }
}
