/* stylelint-disable value-keyword-case */
.products {
  &__list {
    @include small-tablet {
      row-gap: var(--gap);
    }
  }

  &__item {
    grid-column: 4 span;
  }
}

.products-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 24px;
  height: 100%;
  min-height: 435px;
  background: var(--light-gray);

  &__image {
    max-height: 200px;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    margin-top: auto;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: var(--dark);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @include small-desktop {
      font-size: 24px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--accent);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    svg {
      width: 6px;
      height: 11px;
      fill: currentColor;
    }
  }

  @include tablet {
    min-height: 360px;
  }
}
