.page__body {
  margin: 0;
  padding: 0;
  min-height: 2000px;
  overflow-x: hidden;
}


.header {
  border-bottom: 1px solid var(--second-text);
  padding: 20px 0;
  color: var(--main-text);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--main-text);
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-text);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }

  .nav {
    --header-height: 63px;
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 1000;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: var(--main-bg);
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  .nav--visible {
    transform: none;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    width: 100%;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid var(--second-text);
    font-size: 20px;
  }
}
