* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 100px;
  font-family: sans-serif;
}

.chars {
  margin: 0;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chars__item {
  display: flex;
  justify-content: space-between;
}

.chars__term {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.chars__val {
  margin: 0;
  /* max-width: 200px; */
  width: 40%;
}

.chars__term::after {
  content: ".........................................................................";
  position: absolute;
}
