@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 30px;
}

.header {
	padding: 40px 0;
	background-color: #131313;
	color: #fff;
}

.hero {
	height: 800px;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer {
	background-color: #131313;
	padding: 100px 0;
	color: #fff;
	text-align: center;
}

.hero-title {
	margin: 0;
	font-size: 50px;
	color: #fff;
	margin-bottom: 30px;
}

.hero-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.hero-text {
	font-size: 20px;
	color: #fff;
	margin: 0;
}

.services {
	padding: 100px 0;
}

.services__list {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.services__item {
	min-height: 300px;
	border: 1px solid #000;
}

.title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
}

.text {
	padding: 100px 0;
	background-color: #f5f5f5;
}

.contacts {
	padding: 250px 0;
	background-color: #fff;
}

.contacts__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form input {
	width: 300px;
	height: 40px;
	margin-bottom: 10px;
}

.form button {
	height: 40px;
	width: 300px;
}

.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 400;
}

.text-item {
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-item.animation-class {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item {
	opacity: 0;
	transform: translateX(-30px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item:nth-child(3) {
	transform: translateX(30px);
}

.services__item:nth-child(4) {
	transform: translateX(30px);
}

.services__item.animation-class {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item.animation-class:nth-child(2) {
	transition-delay: 0.3s;
}

.services__item.animation-class:nth-child(3) {
	transition-delay: 0.6s;
}

.services__item.animation-class:nth-child(4) {
	transition-delay: 0.9s;
}

.contacts__item {
	opacity: 0;
	transform: rotate(180deg);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contacts__item.animation-class {
	opacity: 1;
	transform: rotate(0deg);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.circle-anim {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 1000;
	width: 50px;
}

.progress-line {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
	z-index: 1000;
	background-color: #f5f5f5;
}

.progress-line__item {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: crimson;
}