* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #131313;
	padding: 20px;
}

ul {
	display: flex;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	display: inline-block;
	margin-right: 25px;
}

a.active {
	color: red;
}

.section {
	height: 100vh;
	border: 1px solid #000;
}