/* @font-face {
	font-family: 'font-name';
	src: url('../fonts/font-name.woff2') format('woff2'),
		url('../fonts/font-name.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
