.map {
	width: 700px;
	height: 500px;
	background-color: #333;
}

[class*="copyrights-pane"] {
	display: none !important;
}

/* [class*="ground-pane"] {
	filter: grayscale(1);
} */

.balloon__address {
	color: yellow;
}

.balloon a {
	color: red;
}

[class*="balloon__close-button"] {
	opacity: 1;
}