.hero {
  padding-top: 250px;
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);

  &__container {
    @include flex-v-center;
  }

  &__content {
    max-width: 516px;

    @include high-tablet {
      max-width: none;
    }
  }

  &__image {
    transform: translateX(167px);

    @include high-tablet {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--light-color);

    &-text {
      display: block;
      max-width: 90%;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      text-transform: initial;
    }
  }

  @include high-tablet {
    padding-bottom: 100px;
    min-height: auto;
  }
}
