/* swiper-bullets styling */
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	margin: 0 15px;
	background-color: tomato;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: navy;
}