.btn {
  display: inline-block;
  border: none;
  padding: 15px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
