.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px;
  padding-top: 100px;
  min-height: 658px;
  background-image: url("../img/product-bg.svg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;

  &__taste {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  @include tablet {
    min-height: 700px;
  }

  @include mobile {
    min-height: 500px;
  }
}
