.story {
  &__block {
    margin-top: -1px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--dark-color);
    width: 50%;

    @include tablet {
      border: none;
      width: 100%;
    }
  }

  &__right {
    width: 50%;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: auto;
    padding: 50px 80px;
    font-weight: 400;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);

    @include mobile {
      padding: 20px;
      font-size: 45px;
      line-height: 50px;
    }
  }

  &__image {
    display: block;
  }

  &__content {
    padding-top: 135px;
    padding-bottom: 135px;
    background-image: url("../img/story-bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;

    @include tablet {
      padding: 170px 0;
    }
  }

  &__text {
    margin: 0 auto;
    max-width: 390px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-color);

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    @include mobile {
      padding: 0 15px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
