.ticker-bottom {
  &__content {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);

    .ticker {
      margin-top: -1px;
      border-right: 1px solid var(--dark-color);
      border-left: 1px solid var(--dark-color);
      padding: 23px 0;
    }

    .ticker__icon {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
