.header {
}

.header__container {
  display: flex;
}

.header__top {
  --container-width: 1330px;

  padding: 23px 0;
  background-color: var(--white);
}

.header__bottom {
  padding: 20px 0;
  background: var(--light-grey);
}

.header__top-container {
  align-items: center;
  justify-content: space-between;
}

.header__bottom-container {
  align-items: center;
  justify-content: center;
}

.header__details {
  display: flex;
  align-items: center;
  gap: 47px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
  text-decoration: none;
  transition: var(--main-trs);
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
  .header__link:hover {
    color: var(--primary);
  }
}

.header__link:active {
  color: var(--dark-primary);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2A254B;
  transition: var(--main-trs);
}

.header__button svg path {
  fill: currentColor;
}

.header__button:focus {
  outline: none;
}

.header__button:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
  .header__button:hover {
    color: #726e8d;
  }
}

.header__button:active {
  color: var(--dark-primary);
}
