.nav__list {
  display: flex;
  align-items: center;
  gap: 44px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
  text-decoration: none;
  transition: var(--main-trs);
}

.nav__link:focus {
  outline: none;
}

.nav__link:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--primary);
  }
}

.nav__link:active {
  color: var(--dark-primary);
}
