.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 20px;
}

.form__label {
  display: flex;
  flex-direction: column-reverse;
}
