<section class="about section-offset" id="about">
  <div class="container">
    <h2 class="visually-hidden">О школе RoboSchool</h2>
    <p class="about__descr">
      <span class="about__descr-highlight">Robo School</span> – учреждение для формирования кадрового педагогического
      резерва в сфере робототехники и
      программирования
    </p>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__digit">10</div>
        <p class="about__text">УМК по различным направлениям по робототехнике</p>
      </li>
      <li class="about__item">
        <div class="about__digit">20</div>
        <p class="about__text">Школ, в которых запущена робототехника</p>
      </li>
      <li class="about__item">
        <div class="about__digit">100</div>
        <p class="about__text">Педагогов прошедших курсы повышения квалификации</p>
      </li>
      <li class="about__item">
        <div class="about__digit">10 000</div>
        <p class="about__text">Обученных детей на базе собственных центров</p>
      </li>
    </ul>
  </div>
</section>
