<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="228" height="48" alt="Логотип RoboSchool">
    </a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-menu-item data-scroll>Тренеры</a></li>
        <li class="nav__item"><a href="#tariffs" class="nav__link" data-menu-item data-scroll>Стоимость</a></li>
      </ul>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
    </nav>
    <a href="tel:+78000001122" class="phone header__phone">+7 800 000 11 22</a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
