<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Robo School
        <span class="hero__title-text">
          Курсы повышения квалификации по робототехнике для педагогов начальной школы
        </span>
      </h1>
      <a href="#tariffs" class="hero__link btn btn-reset" data-scroll>Записаться на курс</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-image.avif" type="image/avif">
        <source srcset="img/hero-image.webp" type="image/webp">
        <img loading="lazy" src="img/hero-image.png" class="image" width="783" height="917" alt="Девушка, смотрящая вдаль">
      </picture>
    </div>
  </div>
</section>
