<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/popup-1.avif" type="image/avif">
            <source srcset="img/popup-1.webp" type="image/webp">
            <img loading="lazy" src="img/popup-1.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Марина Орлова</div>
          <div class="popup__post">преподаватель по робототехнике</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1997 — Июнь 2100</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 2005 — Июнь 2020</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курсы и тренинги</h3>
                  <p class="popup__text">Сентябрь 1995 — Июнь 2000</p>
                  <p class="popup__text">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="popup__text">Факультет: Компьютерных наук и технологий</p>
                  <p class="popup__text">Специальность: Математика и компьютерные науки</p>
                  <p class="popup__text">Форма обучения: Очная</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
