<section class="order">
  <div class="container order__container">
    <div class="order__left">
      <h2 class="order__title">
        Запишитесь на курс со скидкой 10%
      </h2>
      <p class="order__descr">
        Акция действительна до 10 марта 2022 года
      </p>
    </div>
    <div class="order__right">
      <form action="#" class="form order__form">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Имя">
        </label>
        <label class="form__label">
          <input type="tel" name="Телефон" class="input-reset form__input input-tel" placeholder="Телефон">
        </label>
        <label class="form__label">
          <input type="email" name="E-mail" class="input-reset form__input input-email" placeholder="E-mail">
        </label>
        <button class="btn-reset btn btn--dark form__btn">Отправить</button>
      </form>
    </div>
  </div>
</section>
