<section class="tariffs section-offset" id="tariffs">
  <div class="container">
    <h2 class="section-title tariffs__title">Выберите нужный пакет</h2>
    <ul class="list-reset tariffs__list">
      <li class="tariffs__item tariffs__item--current">
        <h3 class="tariffs__subtitle">PRO</h3>
        <div class="tariffs__price">20.000 ₽</div>
        <p class="tariffs__descr">
          УМК по робототетхнике и программированию
        </p>
        <button class="btn-reset btn tariffs__btn">Оставить заявку</button>
      </li>
      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">ROBO</h3>
        <div class="tariffs__price">15.000 ₽</div>
        <p class="tariffs__descr">
          УМК по робототехнике
        </p>
        <button class="btn-reset btn tariffs__btn">Оставить заявку</button>
      </li>
      <li class="tariffs__item">
        <h3 class="tariffs__subtitle">PROG</h3>
        <div class="tariffs__price">10.000 ₽</div>
        <p class="tariffs__descr">
          УМК по программированию
        </p>
        <button class="btn-reset btn tariffs__btn">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
