<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.avif" type="image/avif">
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="trainers__image" width="360" height="500"
                alt="Ирина Лайм">
            </picture>
            <div class="trainers__name">Ирина Лайм</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-2.avif" type="image/avif">
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="trainers__image" width="360" height="500" alt="Марина Орлова">
            </picture>
            <div class="trainers__name">Марина Орлова</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.avif" type="image/avif">
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="trainers__image" width="360" height="500" alt="Максим Петров">
            </picture>
            <div class="trainers__name">Максим Петров</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-4.avif" type="image/avif">
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="trainers__image" width="360" height="500"
                alt="Константин Назаров">
            </picture>
            <div class="trainers__name">Константин Назаров</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-5.avif" type="image/avif">
              <source srcset="img/trainer-5.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-5.jpg" class="trainers__image" width="360" height="500" alt="Лиза Весенняя">
            </picture>
            <div class="trainers__name">Лиза Весенняя</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="swiper-scrollbar trainers__scroll"></div>
      <div class="trainers__btns">
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
        <button class="btn-reset trainers__slider-btn trainers__slider-btn--next"
        aria-label="Перейти к следующему слайду"></button>
      </div>
    </div>
  </div>
</section>
