*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  line-height: 1.5;
}

.page__body {
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
