* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ticker {
  position: relative;
  overflow: hidden;
}

.ticker__wrapper {
  display: flex;
}

.ticker__item {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  padding: 0 50px;
  animation: ticker 5s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}