.card-slider {
  display: flex;

  &__thumb {
    cursor: pointer;

    img {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__main {
    margin-left: 15px;
    width: 686px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
