.catalog-filters {
  padding-top: 27px;
  padding-right: 62px;
  width: 309px;
}

.catalog-content {
  min-height: 500px;
}

.hide-filters {
  margin-bottom: 18px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  background-image: url("../img/cross.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.catalog-filter {
  border-top: 1px solid #eee;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    cursor: pointer;
    user-select: none;
  }

  &__caption {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }

  &__bottom {
    display: none;
    padding-bottom: 34px;
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentColor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }

  &__items {
    columns: 2;
  }

  &__item {
    margin-bottom: 14px;

    &:nth-child(5n) {
      margin-bottom: 0;
    }
  }

  &--open {
    .catalog-filter__bottom {
      display: block;
    }

    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid #eee;
  }
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    color: var(--color-gray);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }

    &::after {
      content: "\2713";
      position: absolute;
      left: 2px;
      top: 0;
      color: #aaa;
    }
  }

  &__input {
    &:checked + span {
      color: var(--color-dark);

      &::before {
        border-color: var(--color-dark);
      }

      &::after {
        color: var(--color-dark);
      }
    }
  }
}
