.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;

    @include xs {
      padding: 20px 15px;
    }
  }

  &__shop-nav {
    margin-left: 250px;

    @include md {
      margin-left: 0;
    }
  }
}

.logo {
  display: inline-block;
  width: 117px;
  height: 22px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-dark);
    object-fit: cover;
  }

  @include xs {
    width: 90px;
    height: 18px;
  }
}

.catalog-header {
  padding-top: 38px;

  @include xs {
    padding-top: 0;
  }
}

.free-delivery {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 120;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: #111;

  &__btn {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color-white);
    }
  }

  @include xs {
    display: none;
  }
}

.card-page {
  .header {
    padding-top: 0;
  }
}

.nav {
  &__close {
    display: none;

    @include md {
      position: absolute;
      right: 10%;
      top: 4%;
      display: block;
    }
  }

  @include md {
    position: fixed;
    left: -150vw;
    top: 0;
    padding: 10% 0;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    transition: left 0.3s;
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    transform: translateY(-50%);
  }

  @include md {
    display: block;
  }
}
