.hero {
  position: relative;
  height: 1080px;
  min-height: 700px;
  background-color: var(--quill-gray);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--color-black), 0.05);
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    max-width: 560px;
    font-weight: 700;
    font-size: 72px;

    @include md {
      max-width: 500px;
      font-size: 50px;
    }

    @include xs {
      font-size: 45px;
    }
  }

  &__descr {
    margin: 0;
    font-size: 18px;

    @include md {
      font-size: 14px;
    }
  }

  &__image {
    position: absolute;
    right: 273px;
    bottom: 0;
    width: 40%;
    max-height: 90%;

    @include lg-max {
      right: 100px;
      width: 480px;
    }

    @include lg {
      right: 50px;
    }

    @include md {
      right: 0;
      width: 350px;
    }

    @include sm {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 260px;
    height: 100%;

    @include lg {
      padding: 0 100px;
    }

    @include md {
      padding: 0;
    }
  }

  @include lg-max {
    height: 700px;
  }

  @include md {
    height: 600px;
    min-height: auto;
  }
}

.banner-slider {
  overflow: hidden;
  width: 100%;
  height: 100%;

  .swiper-slide {
    height: 100%;
  }
}

.banner-pag,
.hero-pag {
  left: 50%;
  bottom: 46px;
  transform: translateX(-50%);

  .swiper-pagination-bullet {
    margin: 0 12px;
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--color-dark);
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      background-color: var(--color-white);
      transform: translate(-50%, -50%);
    }
  }
}

.marketing {
  position: absolute;
  left: 50px;
  bottom: 50px;
  z-index: 10;
  display: flex;
  padding: 10px;
  width: 280px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  transform: translateX(-150vw);
  transition: transform 0.3s;

  &__text {
    margin-left: 10px;
  }

  &__image {
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__descr {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    color: var(--color-gray);
  }

  &__title {
    margin: 0;
    margin-bottom: 7px;
    padding-right: 20px;
    min-height: 34px;
    font-size: 15px;
  }

  &__when-from {
    display: block;
    padding-right: 40px;
    font-size: 11px;
    color: var(--color-gray);
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    width: 10px;
    height: 10px;
    background-image: url("../img/close.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--visible {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  @include xs {
    left: 15px;
  }
}
