.main-products {
  &__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
  }

  &__item {
    margin: 0 18px;
  }

  &__btn-center {
    text-align: center;
  }

  &__more {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-gray);

    span {
      display: inline-block;
      margin-bottom: 12px;
    }

    svg {
      width: 12px;
      height: 21px;
      fill: var(--color-dark);
      transition: transform 0.3s;
    }

    &:hover {
      svg {
        transform: translateY(5px);
        transition: transform 0.3s;
      }
    }
  }

  &__btn {
    font-size: 24px;

    &--current {
      &::before {
        opacity: 1;
        transition: opacity 0.15s;
      }
    }
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 30px;
    margin-bottom: 80px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }
  }
}
