<section class="about section-offset">
  <div class="container">
    <h2 class="section-title about__title">О предприятии</h2>
    <div class="about__text grid">
      <p class="about__descr">
        За 20 лет развития в структуре завода сформирован мощный производственный потенциал, научно-технический центр,
        испытательная лаборатория, современная база, учебный центр и широкая сеть региональных и международных
        представительств в Российской Федерации, Республике Беларусь, Узбекистане и Казахстане.
      </p>
      <p class="about__descr">
        Ежегодно НПП «ПИОНЕР» реализует несколько проектов по модернизации серийных и разработке новых приборов,
        призванные в наибольшей степени удовлетворять возрастающие требования наших заказчиков.
      </p>
      <p class="about__descr">
        В номенклатуре выпускаемой НПП «ПИОНЕР» продукции найдется все, что необходимо для успешного решения задачи
        автоматизации технологических процессов на любом предприятии. Все средства измерения производства «ПИОНЕР»
        внесены в Государственный реестр СИ и имеют необходимые разрешительные документы.
      </p>
    </div>
    <div class="about__images grid">
      <img src="img/about-1.jpg" srcset="img/about-1_2x.jpg 2x" loading="lazy" alt="Сварщик работает на заводе" width="580"
        height="280" class="about__image">
      <img src="img/about-2.jpg" srcset="img/about-2_2x.jpg 2x" loading="lazy" alt="Конвейер автомобилей"
        width="580" height="280" class="about__image">
    </div>
  </div>
</section>
