<footer class="footer">
  <div class="container grid">
    <div class="footer__col">
      <a href="#" class="logo footer__logo">
        <img src="img/footer-logo.svg" alt="Логотип" width="180" height="38">
      </a>
    </div>
    <div class="footer__col footer__col--flex">
      <nav class="nav" title="Второстепенное меню">
        <ul class="list-reset nav__list nav__list--footer">
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Главная</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">О предприятии</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Новости</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Продукция</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Услуги</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Поддержка</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">География поставок</a></li>
          <li class="nav__item nav__item--footer"><a href="#" class="nav__link nav__link--footer">Контакты</a></li>
        </ul>
      </nav>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">Файлы</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Поддержка</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Политика конфеденциальности</a>
        </li>
      </ul>
    </div>
    <div class="footer__col footer__col--full">
      <span class="footer__copyright">1994 — 2020 ООО «ПИОНЕР»</span>
    </div>
  </div>
</footer>
