<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="#" class="logo header__logo">
        <img src="img/logo.svg" alt="Логотип" width="180" height="38">
      </a>
      <div class="header__contacts">
        <div class="header__contact">
          <span class="header__caption">По вопросам и предложениям</span>
          <a href="mailto:pionerrr@sila.ru" class="header__link">pionerrr@sila.ru</a>
        </div>
        <div class="header__contact">
          <span class="header__caption">Для консультаций</span>
          <a href="tel:+74954562421" class="header__link">+7 (495) 456-24-21</a>
        </div>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
    <div class="header__bottom" data-menu>
      <nav class="nav" title="Главная навигация">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О предприятии</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Продукция</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Поддержка</a></li>
          <li class="nav__item"><a href="#" class="nav__link">География поставок</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <button class="btn-reset header__btn">
        <svg>
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        Перезвоните мне
      </button>
      <div class="header__contact header__contact--mobile">
        <span class="header__caption">По вопросам и предложениям</span>
        <a href="mailto:pionerrr@sila.ru" class="header__link">pionerrr@sila.ru</a>
      </div>
      <div class="header__contact header__contact--mobile">
        <span class="header__caption">Для консультаций</span>
        <a href="tel:+74954562421" class="header__link">+7 (495) 456-24-21</a>
      </div>
    </div>
  </div>
</header>
