<section class="products section-offset">
  <div class="container">
    <h2 class="section-title">Продукция</h2>
    <ul class="list-reset products__list grid">
      <li class="products__item">
        <div class="products-card">
          <img src="img/1.png" srcset="img/1_2x.png 2x" alt="Сигнализатор уровня" width="200" loading="lazy"
            class="products-card__image">
          <h3 class="products-card__title">Сигнализатор уровня</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/2.png" srcset="img/2_2x.png 2x" alt="Датчики давления" width="200" loading="lazy"
            class="products-card__image">
          <h3 class="products-card__title">Датчики давления</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/3.png" srcset="img/3_2x.png 2x" alt="ПИД-регуляторы" width="200" loading="lazy"
            class="products-card__image">
          <h3 class="products-card__title">ПИД-регуляторы</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/4.png" srcset="img/4_2x.png 2x" alt="Калибратор давления" width="200" loading="lazy"
            class="products-card__image">
          <h3 class="products-card__title">Калибратор давления</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/5.png" srcset="img/5_2x.png 2x" alt="Корректор расхода газа" width="200" loading="lazy"
            class="products-card__image">
          <h3 class="products-card__title">Корректор расхода газа</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="products__item">
        <div class="products-card">
          <img src="img/6.png" srcset="img/6_2x.png 2x" alt="Манометры" width="200" loading="lazy" class="products-card__image">
          <h3 class="products-card__title">Манометры</h3>
          <a href="#" class="products-card__link">
            Подробнее
            <svg>
              <use xlink:href="img/sprite.svg#angle"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
