* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 100px;
}

.block {
	color: #fff;
	background-color: crimson;
	font-family: sans-serif;
	font-size: 20px;
	font-size: clamp(16px, 5vw, 50px);
}