.footer {
  &__top {
    padding-top: 112px;
    padding-bottom: 137px;
    background-color: #001414;

    .container {
      @include small-tablet {
        row-gap: var(--offset);
      }
    }

    @include small-tablet {
      padding: 60px 0;
    }
  }

  &__bottom {
    padding-top: 40px;
    padding-bottom: 63px;
    background-color: #000f0f;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include small-tablet {
        flex-direction: column;
      }
    }

    &-text {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    @include small-tablet {
      margin-bottom: 20px;
    }
  }

  &__column {
    grid-column: 2 span;

    &:last-child {
      grid-column: 11 / 2 span;

      @include small-tablet {
        grid-column: 2 span;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #edeceb;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    @include hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--active-color);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 23px;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7d9798;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 16px;
      height: 1px;
      background-color: #25b895;
    }
  }

  &__sublist {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;

    &-link {
      font-weight: 400;
      font-size: 9px;
      line-height: 10px;
      color: #e5ecec;
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: none;
      }

      @include hover {
        color: var(--accent-color);
      }

      &:active {
        color: var(--active-color);
      }

      @include small-tablet {
        font-size: 14px;
      }
    }

    @include small-tablet {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__copy {
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    color: #e5ecec;
  }

  &__rights {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #e5ecec;
  }
}

.footer__sublist-link.focus-visible {
  outline: 1px solid var(--active-color);
  outline-offset: 2px;
}

.footer__link.focus-visible {
  outline: 1px solid var(--active-color);
  outline-offset: 2px;
}
