body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.nav {
	position: relative;
}

.nav__list {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav__line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 1px;
	background-color: #000;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__link {
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
}
