html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.stop-scroll {
  @include stop-scroll;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  // max-width: 1200px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
