@import "vars";
@import "mixins";
@import "fonts";
@import "vendor";
@import "settings";

// CUSTOM COMPONENTS STYLES
@import "./components/header";
@import "./components/nav";
@import "./components/shop-nav";
@import "./components/hero";
@import "./components/banners";
@import "./components/main-products";
@import "./components/product";
@import "./components/shop-banners";
@import "./components/footer";
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }
