.insp {
	padding-top: 95px;
	padding-bottom: 140px;
}

.insp__heading {
	margin-bottom: 25px;
}

.insp__descr {
	text-align: center;
	max-width: 635px;
	margin: 0 auto;
	font-family: 'SFCompact', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #788692;
	margin-bottom: 95px;
}

.grid {
	display: grid;
}

.insp__list {
	grid-gap: 32px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(500px, auto);
}

.insp__item {
	position: relative;
	background-color: #000;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.insp__item::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);
}

.insp__text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	padding: 0 40px;
	padding-bottom: 47px;
}

.insp__category {
	font-size: 10px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	color: var(--white-color);
	display: inline-block;
	margin-bottom: 10px;
}

.insp__title {
	font-weight: 700;
	font-size: 32px;
	color: var(--white-color);
	margin-bottom: 25px;
	line-height: 40px;
}

.insp__play {
	background-image: url("/img/play.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	left: 40px;
	top: 40px;
}

.insp__people {
	display: flex;
}

.insp__people-item {
	overflow: hidden;
	border-radius: 100%;
	border: 1px solid var(--white-color);
	width: 48px;
	height: 48px;
	background-color: var(--white-color);
}

.insp__people-item:not(:first-child) {
	margin-left: -15px;
}

.insp__people-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.insp__item--big {
	grid-column-end: span 2;
}

.insp__item--bigheight {
	height: 710px;
}

.insp__item--1 {
	background-image: url("/img/insp-1.jpg");
}

.insp__item--2 {
	background-image: url("/img/insp-2.jpg");
}

.insp__item--3 {
	background-image: url("/img/insp-3.jpg");
}

.insp__item--4 {
	background-image: url("/img/insp-4.jpg");
}

.insp__item--5 {
	background-image: url("/img/insp-5.jpg");
}

.insp__item--6 {
	background-image: url("/img/insp-6.jpg");
}

.insp__item--7 {
	background-image: url("/img/insp-7.jpg");
}
