* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	overflow-x: hidden;
}

.text {
	max-width: 1000px;
	font-size: 25px;
	line-height: 1.5;
}

.text div {
	display: inline-block;
}
