<section class="approach">
  <div class="approach__top">
    <div class="container grid">
      <div class="approach__left">
        <h2 class="approach__title">A human–centered definition of success.</h2>
        <p class="approach__descr">
          Our approach is shaped by the perspective and experience of people impacted by the justice system. Together,
          we are focused on restoring equity and supporting success in the community.
        </p>
        <button class="btn-reset btn approach__btn">Our approach</button>
      </div>
      <div class="approach__right">
        <img src="img/approach-1.jpg" srcset="img/approach-1_2x.jpg 2x" alt="people" loading="lazy" width="235" height="266" class="approach__image">
        <img src="img/approach-2.jpg" srcset="img/approach-2_2x.jpg 2x" alt="people" loading="lazy" width="317" height="262" class="approach__image">
      </div>
    </div>
  </div>
  <div class="approach__bottom">
    <div class="container">
      <ul class="list-reset approach__list grid">
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--ted">
            TED Talks
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--nyt">
            The New York Times
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--scoop">
            StateScoop
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--press">
            Associated Press
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--time">
            Time
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link approach__link--freethink">
            Freethink
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
