<footer class="footer">
  <div class="footer__top">
    <div class="container grid">
      <div class="footer__column">
        <h2 class="footer__title">Company</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">About</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Team</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Supporters</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Diversity</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Blog</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Press</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Careers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title">Product</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Our Approach</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Corrections Leaders</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Corrections Staff</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Policy Impact</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Public Data</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Security</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Testimonials</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title">States</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Overview</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Idaho</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Maine</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Michigan</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Missouri</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">North Dakota</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Pennsiylvania</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Tennessee</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h2 class="footer__title">Network</h2>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Twitter</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Medium</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">GitHub</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <a class="footer__logo">
        <img src="img/logo-footer.svg" alt="Logo"  width="24" height="24">
      </a>
      <div class="footer__text">
        <ul class="footer__sublist list-reset">
          <li class="footer__sublist-item">
            <a href="#" class="footer__sublist-link">Terms of Service</a>
          </li>
          <li class="footer__sublist-item">
            <a href="#" class="footer__sublist-link">Privacy</a>
          </li>
          <li class="footer__sublist-item">
            <a href="#" class="footer__sublist-link">Responsible Disclosure</a>
          </li>
        </ul>
        <div class="footer__bottom-text">
          <div class="footer__copy">Copyright © 2017</div>
          <div class="footer__rights">-2022, Recidiviz. All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
