<header class="header header--position">
  <div class="container flex header__container">
    <a class="logo">
      <img src="img/logo.svg" alt="Recidiviz Logo">
    </a>
    <nav class="nav flex" title="Main navigation" data-menu>
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">States</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Tools</a></li>
        <li class="nav__item"><a href="#" class="nav__link">People</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Learn More</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Donate</a></li>
      </ul>
      <a href="#" class="nav__link">Log In</a>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
