<section class="hero">
  <div class="hero__container container grid">
    <div class="hero__content">
      <h1 class="hero__title">
        Every person who safely transitions back to the community is a step toward a better society.
      </h1>
      <p class="hero__descr">
        Criminal justice leaders use Recidiviz to get a real-time picture of their system, diagnose issues, and drive
        meaningful changes.
      </p>
      <a href="#" class="btn hero__btn">See our work in action</a>
    </div>
  </div>
  <div class="container hero__bottom-container">
    <div class="hero__bottom">
      <h2 class="hero__subtitle">Trusted in:</h2>
      <ul class="list-reset hero__list grid">
        <li class="hero__item">
          <a href="#" class="hero__link">
            Idaho
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Maine
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Missouri
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            North Dakota
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Pennsylvania
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Tennessee
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
