<section class="info">
  <div class="info__content">
    <div class="info__text">
      <h2 class="info__title">See the forest and the trees.</h2>
      <p class="info__descr">
        The criminal justice system can't support safe, whole communities without feedback on what’s working and what’s
        not. We stitch together data from fragmented systems to provide decision-makers with the information they need
        to
        improve outcomes. With this data, we surface opportunities to safely chart a path to a smaller system, and to
        track the impact of policy and practice changes over time.
      </p>
    </div>
  </div>
</section>
