<section class="partners">
  <div class="container partners__container flex">
    <h2 class="partners__title">Partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-1.jpg" loading="lazy" width="160" height="67" alt="Reform logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-2.jpg" loading="lazy" width="160" height="67" alt="Schmidt Futures logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-3.jpg" loading="lazy" width="160" height="67" alt="Right on crome logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-4.jpg" loading="lazy" width="160" height="67" alt="Mozilla logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-5.jpg" loading="lazy" width="160" height="67" alt="Aclu logo" class="partners__logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" target="_blank" class="partners__link">
          <img src="img/partners-6.jpg" loading="lazy" width="160" height="67" alt="Y logo" class="partners__logo">
        </a>
      </li>
    </ul>
    <a href="#" class="partners__more">See All</a>
  </div>
</section>
