<section class="press">
  <div class="container">
    <div class="press__top">
      <h2 class="press__title">Recidiviz in the Press</h2>
      <a href="#" class="btn press__link">See All</a>
    </div>
    <ul class="list-reset press__list grid">
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--ted">Ted Talks</div>
            <time class="press-card__date" datetime="2022-02-02">2.22.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">Meet the 2022 class of TED Fellows</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--corr">Correctional News</div>
            <time class="press-card__date" datetime="2022-02-02">2.22.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">
              New Partnership Aims to Help Transform Prison Conditions
            </a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--justice">Department of Justice</div>
            <time class="press-card__date" datetime="2022-02-02">2.22.22</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">
              Justice Department Establishes Initiative to Strengthen States’ Use of Criminal Justice Data
            </a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--nyt">The New York Times</div>
            <time class="press-card__date" datetime="2021-12-27">12.27.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">The 2021 Good Tech Awards</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--corr1">Corrections1</div>
            <time class="press-card__date" datetime="2021-11-18">11.18.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">
              Maine DOC to better harness correctional data to improve outcomes
            </a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author press-card__author--crime">Right on Crime</div>
            <time class="press-card__date" datetime="2021-09-09">9.9.21</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">
              Together, We Can Make Mississippi Safer and Reentry-Ready
            </a>
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>
