<section class="steps">
  <div class="container">
    <h2 class="steps__title">
      We are a non-profit that partners with state criminal justice agencies to advance their use of data and reduce
      incarceration.
    </h2>
    <ul class="list-reset steps__list flex">
      <li class="steps__item">
        <p class="steps__descr">
          intake an agency`s disjointed data
        </p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true"></li>
      <li class="steps__item">
        <p class="steps__descr">
          deploy tools for all levels of decision making
        </p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true"></li>
      <li class="steps__item">
        <p class="steps__descr">
          improve outcomes for justice-impacted individuals
        </p>
      </li>
    </ul>
  </div>
</section>
