<section class="where">
  <div class="container grid">
    <div class="where__content">
      <h2 class="where__title">
        Where we work
      </h2>
      <p class="where__descr">
        We're expanding. Get in touch and start turning your data into action.
      </p>
      <button class="where__btn btn">Get in touch</button>
    </div>
    <div class="where__map">
      <img src="img/map.svg" loading="lazy" width="461" height="342" alt="Map" class="where__map-image">
    </div>
  </div>
</section>
