:root {
	--font-size: 16px;
}

.content {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #000;
	font-size: var(--font-size);
}

.content h2 {
	font-size: 2em;
}

.content p {
	font-size: 1.5em;
}

.content ul {
	font-size: 1em;
}
