{% include 'header.njk' %}

    <div id="video-container">
        <div class="video-overlay"></div>
        <div class="video-content">
            <div class="inner">
              <h1>{{ title }}</h1>
              <p>FREE CSS TEMPLATE by templatemo</p>
              <p>Homepage with full-width image gallery</p>
                <div class="scroll-icon">
                    <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="img/scroll-icon.png" alt=""></a>
                </div>    
            </div>
        </div>
        <video autoplay="" loop="" muted>
        	<source src="{{videoSrc}}.mp4" type="video/mp4" />
        </video>
    </div>


    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">

						{% for post in collections.img_post %}
							<div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{post.data.imgSrc}}" data-lightbox="image-1"><div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h1>Biodiesel <em>squid</em></h1>
                                <p>Awesome Subtittle Goes Here</p>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{post.data.imgSrc}}">
                        </div>
                    </div></a>
                </div>
            	</div>
						{% endfor %}
        </div>
    </div>

{% include 'footer.njk' %}