<header class="header">
  <div class="container">
    <div class="border-block header__block flex">
      <a href="#" class="header__back btn">Go Back</a>
      <nav class="nav" title="Main navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Story</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Shop</a></li>
          <li class="nav__item"><a href="#" class="nav__link logo">
            <img src="img/logo.svg" alt="Ujjo Logo">
          </a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Wholesale</a></li>
        </ul>
      </nav>
      <button class="header__clone btn">Clone</button>
    </div>
  </div>
</header>
