<section class="hero">
  <div class="container">
    <div class="border-block hero__block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/ujjo.svg" alt="Ujjo">
        </div>
        <div class="hero__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img src="img/hero-image.jpg" alt="Ujjo Pepper">
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">
          THE FIRST HOT SAUCE MADE FOR COFFEE
        </h1>
        <div class="hero__image-2">
          <img src="img/hero-image-2.jpg" alt="Ujjo Pepper in hand">
        </div>
      </div>
    </div>
  </div>
</section>
