<section class="story">
  <div class="container">
    <div class="border-block story__block flex">
      <div class="story__left">
        <h2 class="story__title">
          the story behind the souce
        </h2>
        <img src="img/story.jpg" alt="" aria-hidden="true" class="story__image">
      </div>
      <div class="story__right">
        <div class="story__content">
          <p class="story__text">
            HELLO, I’M LAUREN AND AS A LIFELONG ADVENTUROUS EATER, I’VE TRIED A LOT OF CRAZY THINGS, BUT I NEVER THOUGHT
            HOT SAUCE IN COFFEE WAS A SANE OPTION UNTIL A FRIEND DARED ME TO TRY IT.
          </p>
          <p class="story__text">
            AND IT SUCKED.
          </p>
          <p class="story__text">
            BUT I WONDERED IF THERE WAS A WAY TO ADD SPICE TO MY COFFEE. WHEN THERE WAS NO EASY SOLUTION, UJJO WAS BORN.
          </p>
          <p class="story__text">
            UJJO (OOO-JOE): THE WORD FOR “FIRE” IN KONKANI, SPOKEN ON THE WEST COAST OF INDIA, IS AN HOMAGE AND A LOVE
            LETTER TO MY DAD, AN INDIAN IMMIGRANT WHO INSTILLED A FIRE IN MY PALATE – AND MY HEART – FROM THE VERY
            BEGINNING.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
