<div class="ticker-bottom">
  <div class="container">
    <div class="ticker-bottom__content">
      <div class="ticker">
        <div class="ticker__wrapper">
          <div class="ticker__item">
            download our media kit
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
          </div>
          <div class="ticker__item">
            download our media kit
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
          </div>
          <div class="ticker__item">
            download our media kit
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
          </div>
          <div class="ticker__item">
            download our media kit
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
            CONTACT FOR PARTNERSHIP OPPORTUNITIES
            <img src="img/pepper.svg" alt="" aria-hidden="true" class="ticker__icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

