- var text = 'это текст';
- var menuValues = ['Главная', 'О нас', 'Работы', 'Контакты'];

header.header
	if text
		p #{text}
	else
		p это хедер
	nav.nav
		ul
			each value in menuValues
				li #{value}
