extends base
include mixin

block vars
	- var siteTitle = 'portfolio';

block content
	include header
	.block.
		Далеко-далеко за словесными, горами в стране гласных и 
		согласных живут <b>рыбные</b> тексты. 
		От всех по всей свою снова 
		семь то великий ему рыбного силуэт?
		sdfs
	ul
		li sdfssdf
	+svg('icon-1')