.not-found {
	padding: 125px 0;
}

.not-found__img {
	margin-bottom: 40px;
}

.not-found__title {
	margin-bottom: 40px;
	font-size: 30px;
	line-height: 38px;
}

.not-found__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.not-found__back {
	display: inline-flex;
	align-items: center;
	padding: 0 17px;
	height: 43px;
	background: rgba(93, 113, 221, 0.05);
	border-radius: 8px;
	font-size: 18px;
	color: var(--accent-color);
}

.not-found__back svg {
	margin-right: 7px;
}