.post-banner {
	padding: var(--grid-gap) 0;
}

.post-banner__container {
	height: 300px;
	border-radius: 20px;
	overflow: hidden;
	padding: 0;
	max-width: 1400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.post-content {
	padding-bottom: 100px;
}

.post-content__container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--grid-gap);
}

.post-wrapper {
	grid-column: 3 span;
}

.post {
	max-width: 800px;
}

.post-meta {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.post-category {
	margin-right: 20px;
	display: inline-block;
	border-radius: 8px;
	padding: 8px 17px;
	font-size: 16px;
	line-height: 21px;
	color: var(--accent-color);
	background:#f7f8fD;
}

.post-date {
	font-size: 16px;
	line-height: 21px;
	color: rgba(47, 34, 34, 0.4);
}

.post-title {
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 38px;
	color: #000;
}

.post p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 23px;
	color: #000;
}

.post img {
	display: inline-block;
	object-fit: cover;
	border-radius: 20px;
	margin-bottom: 20px;
}

.post-links {
	padding-top: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 800px;
}

.post-links__link {
	display: inline-flex;
	align-items: center;
	padding: 0 17px;
	height: 43px;
	background: rgba(93, 113, 221, 0.05);
	border-radius: 8px;
	font-size: 18px;
	color: var(--accent-color);
}

.post-links__link--prev svg {
	margin-right: 7px;
}

.post-links__link--next span {
	margin-right: 7px;
}