* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.cards__item:not(:last-child) {
  margin-right: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #bfbfbf;
}

.card__image {
  height: 250px;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  flex-grow: 1;
}

.card__title {
  margin: 0;
  margin-bottom: 15px;
}

.card__descr {
  margin: 0;
  margin-bottom: 15px;
}

.card__btn {
  margin-top: auto;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.cards__item .card {
  height: 100%;
}