.btn {
	border: none;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}