.tabs__panel {
  display: none;
}

.tabs__nav {
  list-style: none;
  display: flex;
}

.tabs__panel--active {
  display: block;
}

.tabs__nav-btn:focus {
  color: #fff;
  background-color: navy;
}

.tabs__nav-btn--active {
  background-color: wheat;
}