.block {
	max-width: 400px;
	max-height: 400px;
	margin-bottom: 30px;
}

.simplebar-track.simplebar-vertical {
	background-color: #d9d9d9;
	width: 5px;
}

.simplebar-content-wrapper {
	padding-right: 15px;
}

.simplebar-scrollbar::before {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	background-color: #2871c5;
	border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	top: 0;
	bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: 1;
}