body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 800px;
  max-height: 200px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.content__inner {
  margin: 0;
  list-style: none;
  padding: 20px;
}

.content__item:not(:last-child) {
  margin-bottom: 40px;
}

.content__link {
  display: block;
  border: 1px solid #bfbfbf;
  border-radius: 100px;
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity, 0.3s visibility;
}

.tooltip {
  z-index: 5;
  border-radius: 100px;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
}

.tooltip__arrow {
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  transform: translateX(-50%);
}

.tooltip__arrow--reverse {
  bottom: auto;
  top: -6px;
  transform: translateX(-50%) rotate(180deg);
}

.content__link:hover .tooltip {
  opacity: 1;
  visibility: visible;
}